{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div>
		<h1>About</h1>
        <div>
            Number of visits to this page: <strong>{{ visit_count }}</strong>
		<div>
			<img src="{% static "images/about.jpg" %}" width="900" height="500" alt="Picture of Rango" /><br />
			This tutorial has been put together by Calvin. <br />
			<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
			<img src="{{ MEDIA_URL }}cat.jpg"/>
		</div>
{% endblock %}


